.btn {
    padding: 0.75rem 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
} 
.btn:hover {
    background-color: black;
    color: white;
}

.btn-light {
    background-color: #ffffffcc;
    color: #000;
    border: none;
    transition: all 0.3s ease;
}
.btn-light:hover {
    background-color: #c8d500;
    color: #fff;
}