@use "../base/variables";

.btn {
    padding: 0.75rem 2rem;
    font-weight: bold;
    border: 2px solid variables.$negro;
    border-radius: 20px;
    background-color: transparent;
    color: variables.$negro;
    text-decoration: none;
} 
.btn:hover {
    background-color: variables.$negro;
    color: variables.$blanco;
}

.btn-light {
    @extend .btn;
    background-color: #ffffffcc;
    color: variables.$negro;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        background-color: variables.$amarillo;
        color: variables.$blanco;
    }
}