@use "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: variables.$fuente;
    background-color:variables.$blanco ;
    color: variables.$negro;
    max-width: 100%;
}
.bienvenida h1 {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 2rem;
}

.resaltado-color {
    color: variables.$amarillo;
}
.resaltado-negro {
    color: variables.$negro;
}

.iframe--box {
    width: 100%;
    justify-content: center;
}
